@model monitor_covid19.Models.Country

@{
    ViewData["Title"] = "Delete";
}

<h3>Excluir</h3>

<h4>Você tem certeza que deseja excluir este registro?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index">&larr; Voltar</a> |
        <input type="submit" value="Excluir" class="btn btn-danger btn-sm" />
    </form>
</div>
